<mat-card class="mat-card mat-focus-indicator footer-card">
    <div class="containergrid">
        <img src="https://img.freepik.com/vetores-gratis/petshop-com-gato-e-cachorro_9645-763.jpg" alt=""
            class="footer-image">
        <div class="row">
            <div class="col-8 col-sm-6 col-md-8 col-lg-9 petstore-logo">
                <span class="material-icons icon-cell"></span>
                <i>Avenida das Nações Unidas, 18801 - Novámerica Office - Conj. 1010 </i><br>
                <i>04795-100 São Paulo - SP</i><br>
                <span class="material-icons icon-cell">phone</span>
                <i>+55 (11) 4063-4100 </i>
                <img src="https://imobzi.storage.googleapis.com/image/redes-sociais/whatsapp_gray.svg" alt=""
                    class="icon-cell">
                <i> +55 (11) 94063-4100 </i>
            </div>
            <div class="col-4 col-sm-6 col-md-4 col-lg-3 redes-sociais">
                <p>Siga-nos nas Redes Sociais</p>
                <a href="https://facebook.com/imobzi" title="facebook"  target="_blank">
                    <img src="https://imobzi.storage.googleapis.com/image/redes-sociais/facebook_gray.svg" alt=""
                        class="image-icon">
                </a>
                <a href="https://br.linkedin.com/showcase/imobzi" title="LinkedIn" target="_blank">
                    <img class="image-icon"
                        src="https://imobzi.storage.googleapis.com/image/redes-sociais/linkedin_gray.svg">
                </a>
                <a href="https://youtube.com/channel/UCJRRIxw4sdVgmMYCQuy8pug" title="Youtube"  target="_blank">
                    <img class="image-icon"
                        src="https://imobzi.storage.googleapis.com/image/redes-sociais/youtube_gray.svg">
                </a>
                <a href="https://instagram.com/explore/tags/imobzi/" title="Instagram"  target="_blank">
                    <img class="image-icon"
                        src="https://imobzi.storage.googleapis.com/image/redes-sociais/instagram_gray.svg">
                </a>
            </div>
        </div>
        <div class="trademark">
            @Petstore
        </div>
    </div>

</mat-card> 
