  
.breadcrumbs {
    padding-top: 8px;
    margin-left: 16px;
    color: #777;
}

.swiper-container {
    height: 270px;
    max-width: 230px;
    .swiper-slide {
        img {
            max-width: 100%;
        }
    }
}


.add {
    background-color: #7728ab;
    border: none;
    height: 3.2rem;
    width: 100%;
    color: #fff;
    font-size: 1.1rem;
    border-radius: .4rem;
    cursor: pointer;
    margin-bottom: 10px;
}
.subscribe {
    background-color: #f24783;
    border: none;
    height: 3.2rem;
    width: 100%;
    color: #fff;
    font-size: 1.1rem;
    border-radius: .4rem;
    cursor: pointer;
    margin-bottom: 10px;
}
.star-icon {
    color: #ffbf3f;
    font-size: 18px;
    height: 18px;
    width: 18px;
}
.rating-count {
    color: #ffbf3f;
}
.pricepromotional {
    color: #f24783;
    font-size: 2rem;
}
.subscribers {
    color: #f24783;
    font-size:medium;
}
.price {
    color: #7728ab;
    font-size: 2rem;
}
.parce {
    color: #929292;;
}