  
.breadcrumbs {
    padding-top: 8px;
    margin-left: 16px;
    color: #777;
}

.swiper-container {
    height: 270px;
    max-width: 230px;
    .swiper-slide {
        img {
            max-width: 100%;
        }
    }
}

.subscribers {
    color: #f24783;
    font-size:x-large;
}
.pricepromotional {
    color: #f24783;
    font-size:large;
}
.pricevalue {
    color: #7728ab;
    font-size: large;
}
