
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <!-- Botão para fechar o menu -->
        <button class="btn__close-menu" (click)="sidenav.toggle()">X</button>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- Botões do Menu -->
    <div *ngFor="let menu of menus;" class="container grid menu">
      <button class="menu-button" mat-button (click)="showPage(menu.router, sidenav)">{{menu.name}}</button>
    </div>
  </mat-sidenav>
<mat-sidenav-content>

  <mat-toolbar color="primary">
    <button mat-icon-button color="primary" aria-label="Menu" class="menu-button" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
          
      <span [routerLink]="['/']" class="titulo">PetStore2</span>
    
    
  </mat-toolbar>   
    
  <div class="routes">
    <router-outlet></router-outlet>
  </div>

  <br>
  
  
    <app-footer></app-footer>
 



</mat-sidenav-content>

</mat-sidenav-container>
